<link rel="stylesheet" href="/css/home.css">
<h1>
    User Profiles
</h1>

<% if (locals.user.id == profile_user.id){ %> 
    <form action="/users/update/?user_id=<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar">
        <input type="submit" value="Update">
    </form>
<% }else{ %> 
    <p> Name: <%= profile_user.name %> </p>
    <p> Email: <%= profile_user.email %> </p>
<% } %> 
